/vendor
/node_modules
.dockerignore
.gitignore
.git
.env
.env-example
.editorconfig
/public/hot
/public/storage
/storage/*.key
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log